article .created {
    opacity: .7;
    margin-bottom: .5em;
}

article h3 {
    font-size: 1.4em;
    margin-top: 0;
}

article .content img {
    max-width: 100%;
}

article .content code {
    margin: .6em 0;
    display: inline-block;
    padding: .8em 1em;
    border-radius: 0.5em;
    max-width: 94%;
    white-space: pre-wrap;
}

.row:nth-child(even) article .content code {
    background-color: var(--bkg-color);
    box-shadow: 0 0 1em -0.2em var(--bkg-color);
}

.row:nth-child(odd) article .content code {
    background-color: var(--bkg-color-nuance);
    box-shadow: 0 0 1em -0.2em var(--bkg-color-nuance);
}

article.contact textarea {
    width: 100%;
    height: 6em;
}

article.contact input {
    width: 50%;
}

@media only screen and (max-width: 900px) {

    article.contact input, article.contact textarea {
        width: 94%;
    }

}

article.edit input[type="text"], article.edit textarea {
    width: 100%;
}

article.edit textarea {
    height: 30em;
    font-size: 1em;
}

.smiley {
    fill: var(--text-color);
}

.messages {
    margin: 2em 0;
}

.messages error {
    color: darkred;
}

.messages success {
    color: darkgreen;
}

footer a {
    padding-right: .4em;
}
