.article {
    margin: 0 0 4em 0;
}

.article .created {
    opacity: .7;
    margin-bottom: .5em;
}

.article h3 {
    font-size: 1.4em;
    margin-top: 0;
}

.article .content img {
    max-width: 100%;
}

.article .content code {
    margin: .6em 0;
    white-space: pre;
    display: inline-block;
    padding: .6em .8em;
    background-color: var(--bkg-color-nuance);
    box-shadow: 0 0 .5em .5em var(--bkg-color);
}

.edit-article input[type="text"], .edit-article textarea {
    width: 100%;
}

.edit-article textarea {
    height: 30em;
    font-size: 1em;
}

.edit-article, .add-article {
    margin-bottom: 3em;
}

.smiley {
    fill: var(--text-color);
}

.messages {
    margin: 2em 0;
}

.messages error {
    color: darkred;
}

.messages success {
    color: darkgreen;
}

footer a {
    padding-right: .4em;
}
