<!DOCTYPE html>
<html xml:lang="de" lang="de">
<head>
    <title>Blog 73 - {{ title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="title" content="Blog 73 - {{ title }}"/>
    <meta name="description" content="Heiko Schmidt, Development, Software development, software architecture"/>
    <meta name="robots" content="index, follow"/>
    <meta name="author" content="Heiko Schmidt"/>
    <meta name="date" content="2021-12-28"/>
    <meta name="language" content="de"/>
    <meta name="rights" lang="de" content="All rights reserved by the author"/>
    <meta name="keywords" content="Heiko Schmidt, Development"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta property="og:title" content="Blog 73 - {{ title }}"/>
    <meta property="og:site_name" content="Blog 73 - {{ title }}"/>
    <meta property="og:url" content="{{ url }}"/>
    <meta property="og:description" content="Heiko Schmidt, Development, Software development, software architecture"/>
    <meta property="og:locale" content="de_DE"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}{{ asset_version }}"
          media="all"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='blog/blog.css')}}{{ asset_version }}"
          media="all"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="row">
        {% include "toogle-scheme.html" %}
        <header>
            <h1><a href="{{ url_for('blog.index') }}" title="{{ title }}">Blog 73</a></h1>
            <h2>{{ title }}</h2>
        </header>
    </div>
    {% block content %}
    {% endblock %}
    <div class="row">
        <footer>
            <p>
                <a href="https://73h.de" title="Heiko Schmidt">Ich</a>
                <a href="{{ url_for('blog.get_contact') }}" title="Konkakt">Konkakt</a>
                <a href="{{ url_for('blog.impressum') }}" title="Impressum">Impressum</a>
                {% if not logged_in %}
                <a href="{{ url_for('blog.get_login') }}">Anmelden</a>
                {% endif %}
                {% if logged_in %}
                <a href="{{ url_for('blog.logout') }}">Abmelden</a>
                {% endif %}
            </p>
            {% include "footer-icons8.html" %}
        </footer>
    </div>
</div>
<script type="text/javascript" src="{{url_for('static', filename='main.js')}}{{ asset_version }}"></script>
<script>
    document.querySelectorAll('code').forEach(el => {
        hljs.highlightElement(el);
    });
</script>
</body>
</html>
