{% extends "blog/base.html" %}
{% block content %}
<div class="row">
    <article class="contact">
        <form method="POST" action="{{ url_for('blog.post_contact') }}">
            <h3>Schreib mir</h3>
            <p>
                <label for="email">Deine E-Mail-Adresse</label><br>
                <input type="text" placeholder="E-Mail-Adresse" id="email" name="email" maxlength="100"
                       value="{{ email }}">
            </p>
            <p>
                <label for="message">Deine Nachricht</label><br>
                <textarea placeholder="Nachricht" id="message" name="message"
                          maxlength="2000">{{ message }}</textarea>
            </p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p class="messages">
                {% for message in messages %}
                {{ message|safe }} <br>
                {% endfor %}
            </p>
            {% endif %}
            {% endwith %}
            <p>
                <button type="submit">Senden</button>
            </p>
        </form>
    </article>
</div>
{% endblock %}
